<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

        <!-- Category Boxes -->
      <div class="category-boxes">
      <a href="/category1/" class="category-box">Finnish</a>
      <a href="/category2/" class="category-box">Photography & Art</a>
      <a href="/category3/" class="category-box">Coding & Technology</a>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
